@{
    ViewData["Title"] = "About";
}

<button type="button">Sukurti sąskaitą-faktūra</button>
<button type="button">Įvesti užsakymą rankiniu būdų</button>


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
